* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #9b16d4, #b87cc7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  border-radius: 20px;
  padding: 40px 20px;
}

.food-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid white;
}

h1,
h2 {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.start-button {
  background-color: white;
  color: #a10dc2;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px #7c169e;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-button:hover {
  box-shadow: 0 6px #7c169e;
}
